@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Lavishly+Yours&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: 'Washington';
    src: url('../fontes/Washington.ttf');
}

@font-face {
    font-family: 'Hemgjord';
    src: url('../fontes/HemgjordLettering_PERSONAL_USE_ONLY.otf');
}

@font-face {
    font-family: 'Social media';
    src: url('../fontes/Social\ Media\ Circled.ttf');
}



body{
    background-image: url(../media/fundo.png);
    background-position: center;
    background-repeat: space;
    background-color: #e6ecfd;
}

* {
    margin: 0;
    padding: 0;
}

* img{
    align-self: center;
}

#container {
    margin: 40px auto;
    width: 80%;
}

header,
nav,
footer,
main {
    float: left;
}

header{
    background-color:#078d70;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    height: 200px;
    display: flex;
}

#devweb{
    max-height: 100px;
}

nav.superior,
nav.topo {
    width: 100%;
    margin-bottom: 1%;
    font-family: 'Washington';
}


nav.lateral {
    width: 29%;
    background-color: #b1ffeeb5;
    font-family: 'Hemgjord';
}

main{
    border-radius: 20px;
    border: 1px dashed gray;
    width: 62%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
    float: right;
    background-color:#7bade2a8;
}

main p,
main h3 {
    text-indent: 2%;
}

p.p1{
    font-family: "Spline Sans Mono", monospace;
    font-weight: 400;
}
p.p2{
    font-family: "Atma", system-ui;
    font-weight: 500;
    font-style: normal;
}
p.p3{
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}
p.icon{
    font-family: 'Social media';
    font-size: 26px;
    color:#210e42;
}
main h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 2%;
    font-family: 'Washington';
    font-size: 40px;
}

#pc{
    max-height: 150px;
}
footer{
    margin-top: 1%;
    width: 100%;
    height: 400px;
    background-color:#210e42;
    color: white;
}

nav.lateral ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav.lateral li a{
    display: block;
    color: rgba(0, 0, 0, 0.64);
    padding: 8px 16px;
    text-decoration: none;
}

nav.lateral li a:hover{
    background-color: #228973;
    color: white;
    text-indent: 10px;
}

nav.lateral .active{
    background-color:rgb(20, 75, 63);
    color: white;
    text-align: none;
    text-decoration: none;
}

nav.topo ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b1ffeeb5;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}

nav.topo li{
    display: inline-block;
}

nav.topo li a{
    display: block;
    color: rgba(0, 0, 0, 0.64);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

nav.topo li a:hover{
    background-color: #228973;
    color:white;
}

nav.topo .active{
    background-color:rgb(20, 75, 63);
    color: white;
}

nav.superior ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b1ffeeb5;
    text-align: center;
}

nav.superior li{
    float: left;
    border-right: 1px solid #078d70;
}

nav.superior li:last-child{
    border-right: none;
}

nav.superior li a{
    display: block;
    color: rgba(0, 0, 0, 0.64);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

nav.superior li a:hover{
    background-color: #228973;
    color:white;
}

nav.superior .active{
    background-color:rgb(20, 75, 63);
    color: white;
}

table.tabela{
    border: 1px solid rgb(20, 75, 63);
    border-collapse: collapse;
    width: 100%;
    margin-top: 2%;
    border-radius: 20px;
}

table.tabela th, 
table.tabela td{
    border: 1px solid rgb(20, 75, 63);
    padding: 2%;
}

table.tabela tr:nth-child(even){
    background-color: #b1ffee;
}

table.tabela tr:nth-child(odd){
    background-color: #7ecebd;
}

table.tabela th{
    background-color: #05715a;
    color: white;
    text-align: center;
    font-family: 'Washington';
}